*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #C0C0C0;
}

.sideBar{
    display: flex;
    background-color: rgb(98, 98, 224);
    width: 15%;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    
}

.sideBar a{
    text-decoration: none; 
    font-size: 25px;
    border-bottom: 2px solid white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tags_nav{
    display: flex;
    width: 100%;
    height: 60%;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
}

.tag{
    width: 100%;
    height: 10%;
}

.sideBar button{
    width: 120px;
    padding: 10px;
    border-radius: 5px;
}

.user{
    display: flex;
    justify-content: center;
    background-color: beige;
    
}


.sair{
    display: flex;
    justify-content: center; 
}