body{
    background-color: #F9F9F9;
}

.header-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .menu-foto{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    & i {
        font-size: 48px;
    }
    & .foto{
        background-image: url('../assets/imgs/users/clodo.jpg');
        background-size: contain;
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }

    & .barra-sep{
        height: 40px;
        background-color: rgba(0,0,0,0.5);
        width: 1px;
    }

    & .user-options{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
}

.collapse-menu-show{
    display: flex !important;
}

.collapse-menu{
    display: none;
    top: 90%;
    right: 5%;
    background-color: #fff;
    padding: 15px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    position: absolute;
    & nav ul {
        list-style: none;

        & a{
            text-decoration: none;
            color: #000;
        }
    }
}

.sidebar-fechada{
    width: 0;
    display: none;
    /* animation: ocultarSide 0.2s linear; */
}

.sidebar-aberta{
    width: 80px;
    display: flex;
    /* animation: mostrarSide 0.2s linear; */
}

.sidebar{
    
    background-color: #24284B;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    & i{
        color: #fff;
        font-size: 12vw;
    }
    & ul{
        margin-top: 5vh;
        list-style: none;
        display: flex;
        gap: 16px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

.saida ul{
    margin-top: 0 !important;
    margin-bottom: 5vh;
}


@keyframes mostrarSide{
    from{
        width: 0;
    }
    to{
        width: 80px;
    }
}

@keyframes ocultarSide{
    from{
        width: 80px;
    }
    to{
        width: 0;
    }
}

.header-nav-desk{
    display: none;
}

.main{
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5%;
    
}

.content{
    
    width: 95%;
}


@media only screen and (min-width: 760px) {

    .main{
        margin-bottom: 10%;
        margin-top: 8%;
        right: 0;
        position: absolute;
        width: calc(100% - 80px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content{
        width: 98%;
        
    }

    .sidebar{
        width: 80px;
        display: flex;
        & i{
            color: #fff;
            font-size: 3.5vw;
        }
    }
    .header-nav{
        display: none;
    }
    .header-nav-desk{
        display: flex;
        width: calc(100% - 90px);
        position: absolute;
        right: 0;
        top: 10px;
        & .user-options{
            gap: 10px;
        }
        & .fotoEmpresa{
            width: 50px;
            height: 50px;
            background-image: url('../assets/imgs/empresas/motorola.png');
            background-size: contain;
            border-radius: 100%;
        }
    }
    #hamb_menu{
        display: none;
    }
}


