* {
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}

nav {
    display: flex;
    width: 100vw;
    height: 7vh;
    background-color: #a9c0fa;
    font-family: "Arial", sans-serif;
}

.logo_nav {
    display: flex;
    width: 15vw;
    justify-content: center;
    align-items: center;
    /* border: solid black 1px; */
}

.mid_nav {
    display: flex;
    width: 70vw;
    justify-content: center;
    align-items: center;
    /* border: solid red 1px; */
}

.mid_nav ul {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.mid_nav ul li {
    display: flex;
    list-style: none;
}

.mid_nav ul li a {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: 400;
}

.btn_nav {
    display: flex;
    width: 15vw;
    justify-content: center;
    align-items: center;
}

.btn_nav button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9vw;
    height: 4vh;
    background-color: #24284B;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.container{
    display: flex;
    width: 100vw;
    height: 95vh;
}

.box1{
    display: flex;
    width: 100vw;
    height: 96vh;
    background-color: #89AAFF;
}

@media screen and (max-width: 1024px) {

    .logo_nav {
        width: 20vw;
    }

    .mid_nav {
        width: 60vw;
    }

    .btn_nav {
        width: 20vw;
    }

    .btn_nav button {
        display: flex;
        width: 15vw;
        height: 4vh;
    }
}

@media screen and (max-width: 720px) {

    .logo_nav {
        width: 50vw;
    }

    .mid_nav {
        display: none;
    }

    .btn_nav {
        width: 50vw;
    }

    .btn_nav button {
        display: flex;
        width: 20vw;
        height: 4vh;
    }
}