.main{
    background-color: #F9F9F9;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;

    & h1{
        color: #24284B;
        font-size: larger;
    }
}

.box-kpis{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 75%;
    padding: 10%;
}

.box-kpis-up {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}

.box-kpis-down {
    display: flex;
    justify-content: space-between;
}

.box-kpi{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10%;
    justify-content: space-evenly;
    background-color: #24284B;
}

.kpi-content span{
    font-size: medium;
}

.box-graphics{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-line-graphic{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
}

.box-linear-graphics{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.linear-cpu{
    margin-bottom: 3%;
}

.img-regressao-cpu-ram{
    max-width: 100%;
}

.linear-title{
    margin-top: 2%;
}

#myChart-pie-cor-cpu, #myChart-pie-cor-ram {
    width: 100px;
    height: 100px;
}