* {
    padding: 0%;
    margin: 0%;
    font-family: "Gt walshein", sans-serif;
    scroll-behavior: smooth;
}

@font-face {
    font-family: Gt walsheim;
    src: url(/public/fontes/GT-Walsheim-Black-Oblique-Trial-BF651b7fc5608e6.otf);
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 9vh;
    background-color: #a9c0fa;
}

.logo_nav {
    display: flex;
    width: 10%;
    height: 10vh;
    justify-content: center;
    align-items: center;
    /* border: solid black 1px; */
    cursor: pointer;
}

.img_logo {
    width: 100%;
    height: 25vh;
    background-image: url(../assets/imgs/PLCVision_sem_fundo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.mid_nav {
    display: flex;
    width: 60vw;
    justify-content: center;
    align-items: center;
    /* border: solid red 1px; */
}

.mid_nav ul {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.mid_nav ul li {
    display: flex;
    list-style: none;
}

.mid_nav ul li a {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: 400;
}

.mid_nav ul li a:hover {
    color: #ebebeb;
}

.btn_nav {
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center;
}

.btn_nav button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9vw;
    height: 5vh;
    background-color: #24284B;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.btn_nav button:hover {
    background-color: #5362ee;
}

.container {
    display: flex;
    width: 100%;
    height: 515vh;
    flex-direction: column;
    overflow-y: hidden;
}

.box1 {
    display: flex;
    width: 100%;
    height: 105vh;
    background-image: url(../assets/imgs/Design\ sem\ nome.png);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.texto_inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 7vh;
    /* border: 1px solid red; */

}

.texto_inicio h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.texto_inicio h1 span {
    font-size: 5.9rem;
    font-weight: 800;
}

.seta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13vh;
}

.seta img {
    width: 15%;
}

.texto_baixo {
    display: flex;
    font-size: 20px;
    width: 30%;
    text-align: center;
    /* border: 1px solid red; */
}

.box2 {
    display: flex;
    width: 100%;
    height: 105vh;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(#89AAFF, #a9c0fa);
}


.parc {
    display: flex;
    width: 100%;
    height: 5vh;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.parc h1 {
    font-size: 38px;
}

.carrossel {
    position: relative;
    width: 100%;
    height: 70%;
    /* border: 1px solid red; */
}

.card {
    position: absolute;
    width: 30%;
    height: 100%;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 1.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333;
    flex-direction: column;
}

.card:nth-child(1) {
    background: white;
    transform: translateX(980px) scale(0.9);
}

.card:nth-child(2) {
    background: #ebebeb;
    color: #24284B;
    transform: translateX(650px) scale(1);
    z-index: 1;
}

.card:nth-child(3) {
    background: white;
    transform: translateX(320px) scale(0.9);
}

.logo_siemens {
    display: flex;
    width: 85%;
    height: 20%;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.logo_siemens img {
    width: 80%;
}

.logo_scheletric {
    display: flex;
    width: 90%;
    height: 25%;
    justify-content: center;
    align-items: center;
}

.logo_scheletric img {
    width: 65%;
    height: 60%;
}

.logo_Rockw {
    display: flex;
    width: 90%;
    height: 25%;
    justify-content: center;
    align-items: center;
}

.logo_Rockw img {
    width: 90%;
    height: 60%;
}

.comentarios_parceiras {
    display: flex;
    width: 80%;
    height: 75%;
    justify-content: center;
    align-items: center;
}

.box3 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 105vh;
    background: linear-gradient(#a9c0fa, #EFEFEF);
    flex-direction: column;
    gap: 2%;
}

.container_Plc {
    display: flex;
    width: 90%;
    height: 90%;
    flex-direction: column;
    /* border: 1px solid red; */
}

.titulo_Box3 {
    width: 100%;
    height: 10%; 
    /* border: 1px solid black; */
}

.titulo_Box3 h1 {
    font-size: 2.8rem;
    margin: 0;
}

.texto_Plc {
    width: 100%;
    height: 52%;
    /* border: 1px solid crimson; */
}

.sobre_o_servico {
    width: 100%;
    height: 33%;
    /* border: 1px solid green; */
}

.sobre_o_servico p {
    font-size: 1.3rem;
    text-align: justify;
    line-height: 1.8rem;
}

.niveis_acesso  {
    width: 100%;
    height: 33%;
    /* border: 1px solid black; */
}

.niveis_acesso p {
    text-align: justify;
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.niveis_acesso2 {
    width: 100%;
    height: 33%;
    /* border: 1px solid red; */
}

.niveis_acesso2 p {
    text-align: justify;
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.img_servico {
    position: relative;
    width: 100%;
    height: 48%;
    /* border: 1px solid gray;  */
}

.img_dashboard {
    /* border: 1px solid blue; */
    width: 40%;
    height: 80%;
    position: absolute;
    background-image: url(../assets/imgs/dashHome.png);
    background-repeat: no-repeat;
    background-size: contain;
    left: 18%;
    bottom: 0%;
}

.img_funcionario {
    /* border: 1px solid rgb(0, 255, 128); */
    width: 40%;
    height: 80%;
    position: absolute;
    background-image: url(../assets/imgs/funcTrabalhando.png);
    background-repeat: no-repeat;
    background-size: contain;
    right: 18%;
    top: 0%;
}

.box4 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #1242f2;
}

.container_alerta {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
}

.espacamento {
    width: 100%;
    height: 10%;
}

.titulo_alerta {
    width: 100%;
    height: 5%;
    /* padding: 20px; */
    /* border: 1px solid white; */
}

.titulo_alerta h1 {
    font-size: 3rem;
    color: white;
}

.container_text_img {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    /* border: 1px solid white; */
}

.texto_sobre_chamado {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    height: 100%;
}

.texto_chamado1 {
    width: 100%;
    height: 25%;
    text-align: justify;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: white;
}

.texto_chamado2 {
    width: 100%;
    height: 25%;
    text-align: justify;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: white;
}

.texto_chamado3 {
    width: 100%;
    height: 25%;
    text-align: justify;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: white;
}

.imgs_chamado {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
}

.slack_img {
    width: 90%;
    height: 30%;
    background-image: url(../assets/imgs/slack_img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.jira_img {
    width: 90%;
    height: 30%;
    background-image: url(../assets/imgs/jira_img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.box5 {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #EFEFEF;
    flex-direction: column;
}

.logo_b5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    font-size: 30px;
}

.img_logo_quem_somos {
    width: 100%;
    height: 55vh;
    background-image: url(../assets/imgs/PLCVision_sem_fundo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* border: 1px solid red; */
}

.quadros {
    display: flex;
    width: 100%;
    height: 80%;
    gap: 40px;
    justify-content: center;
}

.quadro {
    display: flex;
    width: 28%;
    height: 90%;
    transition: 0.5s;
    border-radius: 7px;
    background-color: #c2c2c2;
    flex-direction: column;
    align-items: center;
}

.subt_quadro {
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
}

.subt_quadro h3 {
    font-size: 40px;
    color: #24284B;
    font-weight: 500;
}

.descricao {
    display: flex;
    width: 80%;
    height: 70%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.descricao span {
    font-size: 25px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: #24284B;
}

.container_footer {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
}

.container_filho {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* border: 1px solid white; */
}

.logo_footer {
    width: 60%;
    height: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
    /* border: 1px solid white; */
}

.img_logo_footer {
    width: 90%;
    height: 90%;
    background-image: url(../assets/imgs/PLCVision.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.contato {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    /* border:1px solid white; */
}

.sections_footer {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 50%;
    /* border:1px solid white; */
}

.sections_footer ul {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.sections_footer ul li {
    display: flex;
    list-style: none;
}

.sections_footer ul li a {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
}

.sections_footer ul li a:hover {
    cursor: pointer;
    color: #5362ee;
}

.contato_img {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: end;
    gap: 35px;
    /* border: 1px solid white; */
}

.img_linkedin {
    width: 10%;
    height: 100%;
    /* border: 1px solid white; */
}

.img_instagram {
    width: 10%;
    height: 100%;
    color: white;
}

.img_twitter {
    width: 10%;
    height: 100%;
    color: white;
    /* border: 1px solid white; */

}

.fa-brands {
    font-size: 3rem;
    cursor: pointer;
}

.fa-linkedin {
    color: white;
}


.direitos_reservados {
    width: 100%;
    height: 20%;
    text-align: center;
    color: white;
    /* border: 1px solid white; */
}


@media only screen and (max-width: 1280px) {

    .logo_nav{
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img_logo {
        height: 5vh;
        width: 100%;
    }

    .texto_inicio h1 span {
        font-size: 4rem;
    }

    .box1{
        background-size: contain;
        background-color: #89AAFF;
    }


    .card:nth-child(1) {
        background: white;
        transform: translateX(690px) scale(0.9);
    }

    .card:nth-child(2) {
        background: #ebebeb;
        color: #24284B;
        transform: translateX(450px) scale(1);
        z-index: 1;
    }

    .card:nth-child(3) {
        background: white;
        transform: translateX(220px) scale(0.9);
    }

    .descricao span{
        font-size: 16px;
    }


    .titulo_Box3 h1 {
        font-size: 2rem;
    }

    .texto_Plc,
    .sobre_o_servico,
    .niveis_acesso,
    .niveis_acesso2 {
        height: auto;
        width: 100%;
    }

    .texto_Plc p,
    .sobre_o_servico p,
    .niveis_acesso p,
    .niveis_acesso2 p {
        font-size: 1rem
    }


    .img_servico {
        height: 60%;
        /* border: 1px solid black; */
    }

    .img_funcionario{
        width: 50%;
        height: 60%;
        background-position: right;
        left: 25%;
        top: 10%;
        /* border: 1px solid red; */
    }
    .img_dashboard {
        width: 50%;
        height: 60%;
        bottom: 0;
        /* border: 1px solid gray; */
    }

    .logo_b5 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15%;
        width: 100%;
    }

}

@media only screen and (max-width: 1200px) {

    nav {
        height: 10vh;
    }

    .logo_nav {
        width: 10%;
    }

    .mid_nav {
        width: 60%;
    }

    .mid_nav ul li a {
        font-size: 20px;
    }

    .btn_nav {
        width: 20%;
    }

    .btn_nav button {
        display: flex;
        width: 15vw;
        height: 6vh;
    }

    .box1 {
        background-size: cover;
    }

    .texto_inicio h1 span {
        font-size: 4rem;
    }

    .seta {
        height: 10vh;
    }

    .seta img {
        width: 12%;
    }

    .texto_baixo {
        font-size: 15px;
    }

    .box2 {
        height: 100%;
    }

    .card:nth-child(1) {
        background: white;
        transform: translateX(590px) scale(0.9);
    }

    .card:nth-child(2) {
        background: #ebebeb;
        color: #24284B;
        transform: translateX(350px) scale(1);
        z-index: 1;
    }

    .card:nth-child(3) {
        background: white;
        transform: translateX(120px) scale(0.9);
    }

    .comentarios_parceiras span {
        font-size: 17px;
    }

    .subtitulo h3{
        font-size: 38px;
    }

    .descricao span{
        font-size: 13px;
        font-weight: 500;
    }

    .titulo_Box3 h1 {
        font-size: 2rem;
    }

    .texto_Plc,
    .sobre_o_servico,
    .niveis_acesso,
    .niveis_acesso2 {
        height: auto;
    }

    .img_servico {
        height: 100%;
        /* border: 1px solid black; */
    }

    .img_funcionario{
        width: 70%;
        height: 80%;
        background-position: center;
        left: 17%;
        /* border: 1px solid red; */
    }
    .img_dashboard {
        width: 70%;
        height: 80%;
        top: 20%;
        /* border: 1px solid gray; */
    }


}

@media screen and (max-width: 600px) {

    .container{
        height: 415vh;
    }

    nav {
        height: 10vh;
    }

    .logo_nav {
        width: 30%;
    }

    .mid_nav {
        display: none;
    }

    .btn_nav {
        width: 50%;
    }

    .btn_nav button {
        display: flex;
        width: 18vw;
        height: 4vh;
    }

    .box1 {
        background-size: cover;
        height: 60vh;
    }

    .texto_inicio h1{
        line-height: 3.5vh;
    }

    .texto_inicio h1 span {
        font-size: 2.8rem;
    }

    .seta {
        height: 6vh;
    }

    .seta img {
        width: 9%;
    }

    .texto_baixo {
        font-size: 14px;
        text-align: center;
    }

    .box2{
        height: 80vh;
    }

    .card{
        width: 50%;
        height: 85%;
    }

    .card:nth-child(1) {
        background: white;
        transform: translateX(250px) scale(0.9);
    }

    .card:nth-child(2) {
        background: #ebebeb;
        color: #24284B;
        transform: translateX(150px) scale(1);
        z-index: 1;
    }

    .card:nth-child(3) {
        background: white;
        transform: translateX(35px) scale(0.9);
    }

    .comentarios_parceiras span {
        font-size: 15px;
    }

    .subtitulo h3{
        font-size: 38px;
    }

    .descricao span{
        font-size: 13px;
        font-weight: 500;
    }

    .box3{
        height: auto;
        padding: 10px;
    }

    .titulo_Box3 h1 {
        font-size: 1.5rem;
    }

    .texto_Plc {
        height: auto;
        margin-bottom: 10px;
    }

    .sobre_o_servico p,
    .niveis_acesso p,
    .niveis_acesso2 p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .img_servico {
        height: 40%;
    }

    .img_dashboard,
    .img_funcionario {
        width: 70%;
        height: 50%;
        left: 15%;
        right: 15%;
    }

    .box4{
        flex-direction: column-reverse;
        justify-content: center;
    }

    .box_dir{
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .box_esc{
        width: 100%;
        justify-content: center;
    }

    .box5{
        height: 150vh;
    }

    .quadros{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .quadro{
        width: 55%;
        height: 60%;
    }

    .descricao span{
        font-size: 0.9rem;
    }

}