select {
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    padding: 3px;
}

@media only screen and (min-width: 760px) {
   
    .box-field-factory {
        width: 98%;
        display: flex;
        flex-direction: column;
    }

    .name-field {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
    }

    .way-field {
        display: flex;
    }

    .street-input {
        width: 80%;
    }

    .city-field {
        display: flex;
        justify-content: space-between;
    }

    .burgh-city-input {
        width: 45%;
    }

    .last-field {
        display: flex;
        flex-direction: column;
    }

    .sector-input {
        width: 40%;
    }
}