.main{
    background-color: #F9F9F9;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;

    & h1{
        color: #24284B;
        font-size: larger;
    }
}

.kpis-box {
    display: flex;
    justify-content: space-between;
}

.kpis-graphics{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.kpis-r-quadrado{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20%;
}

.kpi-r{
    background-color: #24284B;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 3%;
}

.line-graphic-box{
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    
}

.linear-box{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.img-regressao {
    max-width: 100%;
}

#myChart-pie-cor-ram, #myChart-pie-cor-cpu {
    width: 125px;
    height: 125px;
}

.title-r span{
    color: #F9F9F9;
    font-size: 80%;
}

.value-r span{
    color: #F9F9F9;
    font-weight: 900;
}

#myChart-line {
    width: 80vw;
}


@media only screen and (min-width: 760px) {

    .desktop-content {
        display: flex;
        flex-direction: row-reverse;
    }

    .kpis-box {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .kpis-graphics {
        display: flex;
        flex-direction: row;
    }

    .kpis-r-quadrado{
        display: flex;
        flex-direction: row;
        margin-left: 10%;
    }

    .kpi-r{
    background-color: #24284B;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 3%;
}

.title-r span{
    color: #F9F9F9;
    font-size: 50%;
}

    #myChart-line {
        width: 50vw !important;
    }
}