@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: "Gt walshein", sans-serif;
    src: url(../fontes/GT-Walsheim-Regular-Trial-BF651b7fc71a47d.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.main{
    display: flex;
    flex-direction: column;
    /* background-color: #E2E2E2; */
}

.container-main {
    display: flex;
    height: fit-content;
    width: 90vw;
    /* border: solid red; */
    flex-direction: column;
    margin-top: 1rem;
}

@media (max-width: 702px)  {
    
.div-select {
    display: flex;
    /* border: solid blue; */
    width: 90vw;
    margin-bottom: 1rem ;

    & select {
        font-family: 'Inter';
        color: rgb(62, 62, 62);
        border: none;
        border-radius: 5px;
        width: 90vw;
        height: 5vh;
        text-align: center;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);

        
    } & select option {
        font-family: 'Inter';
        font-size: 5vw;
    }
}

.container-top-left {
    /* border: solid purple;  */
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.box1, .box2, .box3, .box4 {
    /* border: solid greenyellow; */
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 15vh;
    font-family: 'Inter';
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);

    & h1 {
        font-size: 8vw;
        padding: 5px;
    }
    
}

.container-top-right, .container-bottom-left, .container-bottom-right {
    display: flex;
    flex-direction: column;
    background-color: white;
    /* border: solid pink; */
    height: fit-content;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);

    & h1 {
        font-size: 7vw;
        padding: 5px;
    }

}

.container-top-right {
    margin-top: 20px;
}

.box-painel, .box-modelo, .box-modelos {
    display: flex;
    flex-direction: column;
}

.div-graphs {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 90vw; 
    margin-top: 20px;  
    gap: 30px; 
}

.box-left, .box-right {
    display: flex;
    flex-direction: column;
    width: 85vw;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-size: 4vw;
}

.div-graph {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 88vw; 
    margin-top: 20px;  
}

.div-title {
    height: 5vh;
    /* margin-bottom: 25px; */
    /* border: solid yellow; */

    & h1 {
        font-family: 'Inter';
        font-size: 5vw;
    }
}

}

@media only screen and (min-width:702px) {

.div-select {
    width: 40vw;
    /* border: solid; */
    margin-bottom: 18.5px;
    display: flex; 
    justify-content: flex-start;

    & select {
        font-family: 'Inter';
        color: rgb(62, 62, 62);
        border: none;
        border-radius: 5px;
        width: 40vw;
        height: 5vh;
        text-align: center;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);

        
    } & select option {
        font-family: 'Inter';
        font-size: 1.5vw;
        width: 10vw;
    }
} 

.row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-top-left {
    /* border: solid purple;  */
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 40vw;
    height: 45.6vh;
    justify-content: flex-end;
}

.top-row, .bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: solid; */
}

.box1, .box2, .box3, .box4 {
    /* border: solid greenyellow; */
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 17vh;
    width: 19.5vw;
    font-family: 'Inter';
    text-align: center;
    /* align-content: center; */
    justify-content: center;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);

    & h1 {
        font-size: 1.5vw;
        padding: 5px;
    }
    
}

.container-top-right, .container-bottom-left, .container-bottom-right {
    display: flex;
    flex-direction: column;
    background-color: white;
    /* border:  solid violet; */
    height: fit-content;
    width: 48vw;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);

    & h1 {
        font-size: 1.8vw;
        padding: 5px;
    }

}

.div-graphs {
    display: flex;
    flex-direction: row;
    height: 40vh;
    width: 47vw; 
    margin-top: 5px;  
    justify-content: space-evenly;
}

.box-left, .box-right {
    display: flex;
    /* border: solid; */
    flex-direction: row;
    width: 20vw;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-size: 4vw;
}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-bottom-left, .container-bottom-right {
    width: 40vw;
    height: 45vh;
}

.container-bottom-right {
    width: 48vw;
}

.box-defeitos {
    display: flex;
    flex-direction: column;
    width: 37vw;

    & .apexcharts-text tspan {
    font-size: 180px !important; 
    }
}

.box-modelos {
    display: flex;
    /* border: solid greenyellow; */
    flex-direction: column;
    align-items: center;
    width: 45vw;
    height: 45vh;
}

.div-title {
    height: 5vh;
    /* margin-bottom: 25px; */
    /* border: solid yellow; */

    & h1 {
        font-family: 'Inter';
        font-size: 1.5vw;
    }
}

.div-graph {
    display: flex;
    /* border: solid blue; */
    flex-direction: column;
    height: 20vh;
    width: 40vw;  
    justify-content: center;
}

.apexcharts-text tspan {
    font-size: 12px !important; 
}

.apexcharts-datalabels, .apexcharts-xcrosshairs, .apexcharts-ycrosshairs {
    font-size: 10px !important; 
}

}