* {
    padding: 0%;
    margin: 0%;
    font-family: "Gt walshein", sans-serif;
}

@font-face {
    font-family: Gt walsheim;
    src: url(/public/fontes/GT-Walsheim-Black-Oblique-Trial-BF651b7fc5608e6.otf);
}

nav {
    display: flex;
    width: 100%;
    height: 9vh;
    background-color: #a9c0fa;
}

.logo_nav {
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center;
    /* border: solid black 1px; */
}

.mid_nav {
    display: flex;
    width: 70vw;
    justify-content: center;
    align-items: center;
    /* border: solid red 1px; */
}

.mid_nav ul {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.mid_nav ul li {
    display: flex;
    list-style: none;
}

.mid_nav ul li a {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: 400;
}

.btn_nav {
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center;
}

.btn_nav button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9vw;
    height: 5vh;
    background-color: #24284B;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.container {
    display: flex;
    width: 100%;
    height: 515vh;
    flex-direction: column;
    overflow-y: hidden;
}

.box1 {
    display: flex;
    width: 100%;
    height: 105vh;
    background-image: url(../assets/imgs/Design\ sem\ nome.png);
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.texto_inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */

}

.texto_inicio h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.texto_inicio h1 span {
    font-size: 5.9rem;
    font-weight: 800;
}

.seta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13vh;
}

.seta img {
    width: 15%;
}

.texto_baixo {
    display: flex;
    font-size: 20px;
    width: 30%;
    /* border: 1px solid red; */
}

.box2 {
    display: flex;
    width: 100%;
    height: 105vh;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(#89AAFF, #a9c0fa, #EFEFEF);
}


.parc {
    display: flex;
    width: 100%;
    height: 5vh;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.parc h1 {
    font-size: 38px;
}

.carossel {
    position: relative;
    width: 100%;
    height: 70%;
    /* border: 1px solid red; */
}

.card {
    position: absolute;
    width: 30%;
    height: 100%;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 1.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333;
    flex-direction: column;
}

.card:nth-child(1) {
    background: white;
    transform: translateX(980px) scale(0.9);
}

.card:nth-child(2) {
    background: #ebebeb;
    color: white;
    transform: translateX(650px) scale(1);
    z-index: 1;
}

.card:nth-child(3) {
    background: white;
    transform: translateX(320px) scale(0.9);
}

.logo_siemens {
    display: flex;
    width: 85%;
    height: 20%;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.logo_siemens img {
    width: 80%;
}

.logo_scheletric {
    display: flex;
    width: 90%;
    height: 25%;
    justify-content: center;
    align-items: center;
}

.logo_scheletric img {
    width: 65%;
    height: 60%;
}

.logo_Rockw {
    display: flex;
    width: 90%;
    height: 25%;
    justify-content: center;
    align-items: center;
}

.logo_Rockw img {
    width: 90%;
    height: 60%;
}

.comentarios_parceiras {
    display: flex;
    width: 80%;
    height: 75%;
    justify-content: center;
    align-items: center;
}

.box3 {
    display: flex;
    width: 100%;
    height: 105vh;
    background-color: #EFEFEF;
}

.box4 {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #24284B;
}

.box_esc {
    display: flex;
    width: 55%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.box_gif {
    display: flex;
    width: 90%;
    height: 70%;
    background-color: antiquewhite;
}

.box_dir {
    display: flex;
    width: 45%;
    height: 100%;
}

.subtitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vh;
}

.subtitulo h3 {
    font-size: 4rem;
    color: white;
}

.img_raio {
    display: flex;
}

.box5 {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #EFEFEF;
    flex-direction: column;
}

.logo_b5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    font-size: 30px;
}

.quadros {
    display: flex;
    width: 100%;
    height: 80%;
    gap: 40px;
    justify-content: center;
}

.quadro {
    display: flex;
    width: 28%;
    height: 90%;
    transition: 0.5s;
    border-radius: 7px;
    background-color: #c2c2c2;
    flex-direction: column;
}

.subt_quadro {
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
}

.subt_quadro h3 {
    font-size: 40px;
    color: #24284B;
    font-weight: 500;
}

.quadro:hover {
    width: 30%;
    transition: 0.5s;
}

.descricao{
    display: flex;
    width: 100%;
    height: 85%;
}

footer {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #24284B;
}

@media screen and (max-width: 1024px) {

    .logo_nav {
        width: 20%;
    }

    .mid_nav {
        width: 60%;
    }

    .btn_nav {
        width: 20%;
    }

    .btn_nav button {
        display: flex;
        width: 15vw;
        height: 4vh;
    }
}

@media screen and (max-width: 720px) {

    .logo_nav {
        width: 50%;
    }

    .mid_nav {
        display: none;
    }

    .btn_nav {
        width: 50%;
    }

    .btn_nav button {
        display: flex;
        width: 20vw;
        height: 4vh;
    }
}