.title-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & h1{
        font-weight: 500;
    }

    & small{
        font-size: 16px;
        color: #333;
    }
}

.wrap-all-div{
    position: relative;
    margin-top: 10%;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 30px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.kpi-pagination {
    top: auto !important;
    bottom: 0% !important;
}
.kpi-next, .kpi-prev{
    top: auto !important;
    bottom: 0% !important;
    opacity: 0;
}

.chart-next, .chart-prev{
    top: auto !important;
    
    opacity: 0;
}
.kpi-next::after, .kpi-prev::after, .chart-next::after, .chart-prev::after{
    font-size: 20px !important;
    color: #333 !important;
}

.swiper-pagination-bullet-active {
    background-color: #333 !important;
}


.line-select-alertas{
    display: flex;
    width: 100%;
    
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1%;
    min-height: 10vh;
    width: 100%;

    & select{
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
        background-color: #fff;
        cursor: pointer;
    }
}

.group-selects{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1%;
    margin-top: 1%;
    width: 100%;

    & select{
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
        background-color: #fff;
        cursor: pointer;
    }
}

.kpis-div{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 1%;  */
    padding: 20px !important;
}

.all-charts-div{
    margin-top: 2%;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; */
    padding: 10px !important;
    padding-bottom:30px !important; ;
}

.charts-div{
    width: 90%;
    background-color: #fff;
    padding: 15px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.kpi-box{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    /* padding: 20px; */
    background-color: #fff;
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 20vh;
    margin-top: 2%;
    & .desc{
        display: flex;
    }
    & span{
        font-size: 16px;
    }

}

@keyframes piscarSombra {
    0% {
        box-shadow: 2px 2px 8px rgba(255, 0, 0, 0.5);
    }
    50% {
        box-shadow: 2px 2px 16px rgba(255, 0, 0, 0.8);
    }
    100% {
        box-shadow: 2px 2px 8px rgba(255, 0, 0, 0.5);
    }
}

.alerta-box{
    /* width: 100%; */
    cursor: pointer;
    background-color: #fff;
    height: fit-content;
    padding: 5px 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    animation: piscarSombra 1.5s infinite alternate;
    & i{
        font-size: 42px;
    }
}

#div_alerta{
    margin-top: 10px;
    width: 100%;

}

.text-group{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1%;
    width: 100%; & span{
        font-size: 16px;
        color: #333;
    }
    
}

@media only screen and (min-width: 760px) {
    .line-select-alertas{
        flex-direction: row;
    }
    #div_alerta{
        margin-top:0;
        width: auto;
    
    }

    .alerta-box{
        width: 400px;
    }
    
    .kpis-div{
        /* display: flex;
        /* flex-direction: row;
        flex-wrap: wrap; */
        /* justify-content: flex-start;
        gap: 1%;
        align-items: center; */ 
    }

    .kpi-box{
        
        & span{
            font-size: 16px;
            text-align: center;
        }
    }
    .all-charts-div{
        /* display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3%; */
    }

    .swiper-button-next, .swiper-button-prev, .div-componentes{
        opacity: 0;
    }

    .wrap-all-div{
        margin-top: 2%;
        background-color: #fff;
        border-radius: 10px;
        position: relative;
        padding: 20px;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    }

    .kpi-next{
        right: 0 !important;
        top: 10% !important;
        width: 5px ;
    }

    .kpi-prev{
        right: 5% !important;
        top: 10% !important;
        left: auto !important;

    }

    .kpi-prev::after{
        font-size: 25px  !important;
        z-index: 9999 !important;
    }

    .kpi-next::after{
        font-size: 25px  !important;
        z-index: 9999 !important;
    }

    .kpi-pagination{
        bottom: 0 !important;
        left: 0 !important;
    }
    .charts-div{
        width: 28%;
        margin-top: 2%;
    }
    .group-selects{
        flex-direction: row;
        & select{
            width: fit-content;
        }
    }
}

